/* GENERAL KANBAS COMPONENTS */

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

p {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h4 {
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

h6 {
    font-size: 14px;
}

.screen {
    display: flex;
}

/* Top of content page */
.page-top {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
}


/*spacing of content right of sidebar */
.content {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 5px;
    padding-right: 10px;
}


/* Light Gray Kanbas Buttons */
.btn.btn-light.kanbas {
    border: 1px solid gray;
}

nav {
    --bs-breadcrumb-divider: '>';
}

.btn.btn-light p {
    font-size: 14px;
}



/* NAV BAR STUFF */

.sidebar {
    height: 100vh;
    padding-right: 0px;
    width: 80px;
    padding-bottom: 0px;
    margin-right: 25px;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;

}


.list-group-item.navlink {
    text-decoration: none;
    color: white;
    padding: 5px 5px 5px 5px;
    border: none;
}

.navicon {
    margin-bottom: 5px;
    margin-top: 5px;
    color: #c8102e;
    font-size: 25px;
}

.navicon.grey-icon {
    color: #c7c7c7;
}

.list-group-item.active.overridebg {
    background-color: white;
    border: none;
    color: black;
}

.navtext {
    margin-bottom: 5px;
}

.fullwidth {
    width: 100%;
}

.nulogo {
    width: 80%;
    margin-bottom: 10px;
    margin-left: 8px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ACCOUNT STUFF */

.page-top>h4 {
    display: inline;
    font-size: 20px;
}

.inline-icon {
    color: #c8102e;
    display: inline;
    font-size: 25px;
    margin-right: 25px;
}

.profile {
    display: flex;
    width: 100%;
}

.row {
    display: flex;
}

.acc-nav {
    width: 195px;
    margin-right: 40px;
}

.list-group-item.acc-link {
    width: 100%;
    border: none;
    padding-left: 10px;
    color: #c8102e;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
    border-radius: 0%;
}

.list-group-item.active.acc-link {
    background-color: white;
    color: black;
    border-left: 3px solid black;
    border-radius: 0%;
}

.profileInfo {
    width: 100%;
}

.profile-text {
    font-size: 16px;
    margin-bottom: 25px;
}

.in-line-link {
    color: #c8102e;
}

.pic {
    margin-bottom: 5px;
}

/* EDIT PROFILE */
.profile-form>label {
    font-size: 25px;
    font-weight: 400;
}

.form-label.smaller {
    font-size: 16px;
    font-weight: 500;
}

.profile-form {
    width: 75%;
}

.profile-form>input {
    margin-bottom: 15px;
}

.profile-form>select {
    margin-bottom: 15px;
}

.profile-form>textarea {
    margin-bottom: 25px;
}


.col-5.profile-links {
    text-align: center;
}

.col-1.profile-links {
    text-align: center;
    padding-top: 35px;
    font-size: 20px;
}

.link-section {
    padding-bottom: 25px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 15px;
}

.link-section>.row>button {
    margin-left: 12px;
}

/* DASHBOARD */

.page-top>h3 {
    font-weight: 400;
}

.published-courses {
    margin-left: 20px;
}

.course {
    width: 260px;
    margin-right: 35px;
    margin-bottom: 35px;
}

.card-img-top {
    width: 260px;
    height: 150px;
}

p.card-title {
    font-weight: 600;
    font-size: 14px;
    color: rgb(80, 92, 173);
    margin-bottom: 5px;
}

p.card-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: gray;
}

.card-body .card-icon {
    font-size: 25px;
    color: gray;
}

.published-courses a {
    text-decoration-line: none;
    color: gray;
}

/* Course Home */
.breadcrumb-item {
    color: #c8102e;
    text-decoration: none;
    display: inline;
}

.breadcrumb-item>a {
    color: #c8102e;
    text-decoration: none;
    display: inline;
}

.d-flex.float-end>button,
.d-flex.float-end>.dropdown {
    font-size: 14px;
}

.d-flex.float-end>.dropdown>button {
    font-size: 15px;
}

.hr-module {
    margin-top: 0px;
    padding-top: 0px;
}

.modules>hr {
    margin-top: 50px;
}

.fa-solid.fa-grip-vertical {
    color: gray;
}

.module-icon {
    font-size: 15px;
}

.text-danger {
    display: inline;
}

.modules .list-group-item {
    border-left: 5px solid green;
}

.modules .list-group-item-secondary {
    border: none;
}

.course-buttons>button,
.course-buttons>.w-100>button {
    font-size: 14px;
}

.course-buttons>.d-flex>a {
    text-decoration: none;
}

.responsive-nav {
    color: white;
}

.responsive-nav>.row>.col-2>a,
.responsive-nav>.row>.col-1>a,
.responsive-nav>.row>a {
    color: white;
    text-decoration: none;
}

.nav-title.col>h6 {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.profile.row .col.modules {
    padding-right: 0px;
    padding-left: 30px;
}

/* Top Nav Dropdown Responsive */
.top-nav>a {
    border: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #c8102e;
}

.top-nav-sidebar>a>.centered {
    flex-direction: row;
    display: flex;
}

.top-nav-sidebar>a>.centered>p {
    padding-top: 5px;
    margin-left: 15px;
    color: #c8102e;
    font-size: 14px;

}

/* ASSIGNMENTS PAGE */

.modules>hr#assignments {
    margin-top: 20px;
}

.modules a {
    text-decoration: none;
    color: black;
}

.modules p {
    font-size: 15px;
}

.modules .list-group p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.modules .list-group {
    border-radius: 0%;
}

.modules .list-group-item a {
    font-weight: 600;
}

.modules .list-group-item-secondary>.p {
    display: inline;
    font-size: 14px;
    border: 2px solid gray;
}

tr th {
    text-align: center;
}

td {
    text-align: center;
}